<html>
  <head>
    <link rel= "stylesheet" href= "https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" >
    <link rel="stylesheet" href="/css/output.css">
    <script src="
      https://cdn.jsdelivr.net/npm/chartist@1.3.0/dist/index.umd.min.js
      "></script>
    <link href="
      https://cdn.jsdelivr.net/npm/chartist@1.3.0/dist/index.min.css
      " rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
  </head>
  <body class="p-4">
    <div class="flex justify-between items-center mb-3">
      <div class="flex gap-2 items-baseline">
        <i class="las la-search text-4xl"></i>
        <span class="text-3xl font-light">Express Insight</span>
        {{#if config.projectName }}
          <span class="font-light"> - {{ config.projectName }}</span>
        {{/if}}
      </div>
      <div class="flex justify-end">
        <span class="monospace font-bold text-xs text-gray-800">Made with 💖 by saphalpdyl</span>
      </div>
    </div>

    <div class="grid lg:grid-cols-3 grid-cols-2">
      <div class="order-1 flex flex-col px-4">
        <h1 class="text-lg font-mono font-bold text-gray-300 text-end">Today's Activity</h1>
        <h3 class="font-light text-xl ">API Traffic: <span class="font-mono font-bold">{{ requestLogs.length }}</span> <span class="text-sm font-mono text-gray-500 font-semibold">requests</span></h3>
        <h3 class="font-light text-xl ">Avg. Traffic: <span class="font-mono font-bold">{{ requestLogs.length }}</span> <span class="text-sm font-mono text-gray-500 font-semibold">requests/day</span></h3>
        <h3 class="font-light text-xl ">Avg. Response Time: <span class="font-mono font-bold">{{ avgResponseTime }}</span> <span class="text-sm font-mono text-gray-500 font-semibold">ms</span></h3>
      </div>
      <div class="order-3 lg:order-2">
        <div id="chart"></div>
      </div>
      <div class="border-gray-300 border-s-2 pl-2 order-2 lg:order-3">
        <span class="text-xl font-extralight block mb-2">Configuration</span>
        <pre class="font-bold text-sm">{{> objectRenderer config=config}}</pre>
      </div>
    </div>
    <div class="mx-4 px-2">
      <div class="overflow-auto text-xs mb-10" id="requestRows">
        <span class="text-2xl font-bold text-zinc-600">Request Logs</span>
      </div>
      <div class="scroll-auto overflow-y-auto overflow-x-hidden w-100 text-zinc-600">
        <h3 class="text-2xl font-bold">Today's Log File</h3>
        <pre class="text-xs font-semibold">
          {{ logFile }}
        </pre>
      </div>
    </div>
    
    <script>
      const activityDataJson = decodeURIComponent("{{ activityData }}");
      const activityData = JSON.parse(activityDataJson);

      const data = activityData.map(e => ({
        x: new Date(e.interval_start),
        y: e.request_count,
      }));
      new Chartist.BarChart('#chart', {
        series: [
          {
            name: "Requests",
            data,
          }
        ]
      }, {
        showArea: true,
        showPoint: true,
        distributeSeries: true,
        axisX: {
          type: Chartist.FixedScaleAxis,
          divisor: 10,
          labelInterpolationFnc: value =>
            new Date(value).toLocaleString(undefined, {
            timeStyle: "short"
          })
        }
      });
    </script>

    <script>
      const requestRowsJson = decodeURIComponent("{{ requestRows }}");

      const { DataTable, convertJSON } = simpleDatatables;
      const requestRows = convertJSON({
        data: requestRowsJson,
      });
      const requestRowsTableElement = document.querySelector("#requestRows");

      const datatable = new DataTable(requestRowsTableElement, {
        data: {
          headings: requestRows.headings.map(h => {
            return h.split("_").join(" ").replace(/(^\w{1})|(\s+\w{1})/g, letter => letter.toUpperCase());
          }),
          data: requestRows.data,
        },
        perPage: 10,
        columns: [
          {
            select: [1,2,3,4,5,6,7,8,9,10,12],
            render: (data, td, dataIndex, cellIndex) => {
              if (data[0].data == "null") {
                return "-";
              }
            }
          }
        ]
      });

    </script>
  </body>
</html>